.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .products-container {
        width: 90%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}